body {
}
label {
    width: 500px;
    margin-left: 5%
}
input, textarea {
    width: 1300px;
    margin-left: 5%
}
h1{
    margin-left: 5%
}
.box{
    background: #F7F7F7;
    width: 1500px;
    margin-left: 6%;
    margin-top: 5%;
    border-width: 3px;
    border-color: gray;
    border-style: solid;

}
.TopBox{
    width: 700px;
    margin-left: 5%;
}

button{
    margin-left: 15%;
    width: 200px;
    size: ;
}